root = true

[*]
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.py]
max_line_length = 100

[*.yaml]
indent_size = 2
