[simulation]
# maximum time step duration
time_step = 1

# number of grid points in each direction
nx = 20
ny = 40
nz = 20

# size of each grid cell
dx = 10
dy = 10
dz = 10

# run validation state on every iteration
validate = True

# a list of modules to run with the simulation
modules = nlisim.modules.geometry.Geometry
          nlisim.modules.visualization.Visualization
          nlisim.modules.molecules.Molecules
          nlisim.modules.fungus.Fungus
          nlisim.modules.epithelium.Epithelium
          nlisim.modules.macrophage.Macrophage
          nlisim.modules.neutrophil.Neutrophil
          nlisim.modules.state_output.StateOutput

[state_output]
# save the simulation state every 1 simulation second
save_interval = 1.0
output_dir = output

[geometry]
# path of the imported geometry file
geometry_path = geometry.hdf5
preview_geometry = false

[macrophage]
rec_r = 5
p_rec_r = 1.0
m_abs = 0.05
Mn = 2.0
kill = 2
m_det = 1
rec_rate_ph = 2
time_step = 1
max_conidia_in_phag = 50

[neutrophil]
neutropenic = False
rec_rate_ph = 6
rec_r = 3
n_absorb = 0.2
Nn = 2
n_det = 1
granule_count = 10
n_kill = 2
time_step = 1

[fungus]
init_num = 50
init_health = 100
ITER_TO_CHANGE_STATUS = 2
p_lodge = 1
p_internal_swell = 0.01
iron_min = 0
iron_max = 2.5
iron_absorb = 1
spacing = 1.67
iron_min_grow = 0.25
p_branch = 0.75
p_internalize = 0.3
grow_time = 2
rest_time = 2
swell_time = 5

[epithelium]
e_kill = 30
cyto_rate = 100
s_det = 1
h_det = 1
max_conidia_in_phag = 10
time_step = 1


[molecules]
diffusion_rate = 0.8
cyto_evap_m = 0.2
cyto_evap_n = 0.2
iron_max = 100
# name: name of the molecule
# init_val: inital concentration value at init_loc
# init_loc: AIR, BLOOD, EPITHELIUM, SURFACTANT
molecules = [
                {
                    "name":"iron",
                    "init_val":10,
                    "init_loc":["BLOOD"],
                    "diffusivity":1,
                    "source":"BLOOD",
                    "incr":1
                },
                {
                    "name":"m_cyto",
                    "init_val":0,
                    "init_loc":["EPITHELIUM"]
                },
                {
                    "name":"n_cyto",
                    "init_val":0,
                    "init_loc":["EPITHELIUM"]
                }
            ]

[visualization]
# vtk_type: STRUCTURED_POINTS, STRUCTURED_GRID, RECTILINEAR_GRID, UNSTRUCTURED_GRID, POLY_DATA
visual_variables =  [
                        {
                           "module":"neutrophil",
                           "variable":"cells",
                           "vtk_type":"POLY_DATA",
                           "attributes":["iteration", "point"]
                        },
                        {
                           "module":"macrophage",
                           "variable":"cells",
                           "vtk_type":"POLY_DATA",
                           "attributes":["iteration", "point"]
                        },
                        {
                            "module":"molecules",
                            "variable":"grid",
                            "vtk_type":"STRUCTURED_POINTS",
                            "attributes":["concentrations"]
                        },
                        {
                           "module":"fungus",
                           "variable":"cells",
                           "vtk_type":"POLY_DATA",
                           "attributes":["iron", "form", "status", "point"]
                        }
                    ]
visualize_interval = 1
visualization_file_name = output/<variable>-<time>.vtk
