[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=20.8b1"
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
jupyter = "*"
mypy = "*"
pep8-naming = "*"
pytest = "*"
pytest-cov = "*"
tox = ">=3"

[packages]
nlisim = {editable = true,path = "."}

[requires]
python_version = "3.8"
