[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = '>=3'
flake8 = '*'
flake8-blind-except = '*'
flake8-bugbear = '*'
flake8-docstrings = '*'
flake8-import-order = '*'
flake8-quotes = '*'
mypy = '>=0.730'
pep8-naming = '*'
pytest = '*'
pytest-cov = '*'

[packages]
simulation = {editable = true,path = "."}

[requires]
python_version = "3.7"
